@import "tailwindcss/preflight"
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {

    --color-site: #0A0A0A;
    --color-element-bg: #121212;

    --color-element-text: #eeeeee;
    --font-default: "Oswald", sans-serif;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 0px;
    }
}