@import "tailwindcss/preflight"
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
    --color-site: #0E050F;
    --color-violet: #71677C;
    --color-dun: #E2D2B6;

    --font-default: "Oswald", sans-serif;
}