@import "tailwindcss/preflight"
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
    /* oklch(0.0353 0.025 265) */
    --color-site: #0A0A0A;

    /* oklch(0.1 0.01 265) */
    --color-element-bg: #121212;

    --color-element-text: #eeeeee;
    --font-default: "Oswald", sans-serif;
}